<h1>Edit Listing</h1>
<img class="logo_cover" src="https://rails-game-vault-site-assets.s3-ap-southeast-2.amazonaws.com/games-vault-cover.png
"/>

<section id ="home">
  <div class="overlay">
    <nav id="navbar" class="nav">
        <ul class="nav-list">
         <li><%= link_to 'Home', games_path %></li>
         <li><%= link_to "List Game", new_game_path %></li>
         <li style="float:right"><%= form_tag games_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search" %>
          <%end%></li>
        </ul>
    </nav>
    
<%= render 'form', game: @game %>

<%= button_to 'Back', games_path %>