<h1><%= @game.title %></h1>

<div id= "listing_picture" class= "listing_picture">
<% if @game.picture.attached? %>
  <img src="<%=(url_for(@game.picture))%>">
  <%end%>
</div>

<ul>
<li>Price: <%= @game.price %></li>
<li>Platform: <%= @game.platform %></li>
<li>Condition: <%= @game.condition %></li>
<li>Description: <%= @game.description %></li>
</ul>

<div>
  <%= link_to "Back", "/" %>
</div>
