<h1><%= @game.title %></h1>

<ul>
<li>Price: <%= @game.price %></li>
<li>Platform: <%= @game.platform %></li>
<li>Condition: <%= @game.condition %></li>
<li>Description: <%= @game.description %></li>
</ul>

<div>
  <%= link_to "Back", "/" %>
</div>
