<img class="logo_cover" src="https://rails-game-vault-site-assets.s3-ap-southeast-2.amazonaws.com/games-vault-cover-tiny.png
"/>
<section id ="home">
  <div class="overlay">
    <nav id="navbar" class="nav">
        <ul class="nav-list">
         <li><%= link_to 'Home', games_path %></li>
         <li><%= link_to "List Game", new_game_path %></li>
         <li><%= link_to 'Shopping Cart', cart_path(@current_cart) %></li>
         <li style="float:right"><%= form_tag games_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search" %>
          <%end%></li>
        </ul>
    </nav>

  <br>

<div class="devise" id="devise">
  <% if user_signed_in? %>
          <li>Welcome <%= current_user.email %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %></li>
  <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li><a> Or </a> 
          <li><%= link_to 'Account Login', new_user_session_path %></li>
  <% end %>
</div>
  
<br>

<h1 class="listing-title"><%= @game.title %></h1>

<div class= "listing-picture">
<% if @game.picture.attached? %>
  <img src="<%=(url_for(@game.picture))%>">
  <%end%>
</div>

<br>

<div class="listing-details">
  <ul class="details-list">
    <li><%= button_to "Add to cart", line_items_path(:game_id => @game.id)%></li>
    <br>
    <li>Price: $<%= @game.price %></li>
    <li>Platform: <%= @game.platform %></li>
    <li>Condition: <%= @game.condition %></li>
    <li>Description: <br> <%= @game.description %></li>
  </ul>
</div>




