<img class="logo_cover" src="https://rails-game-vault-site-assets.s3-ap-southeast-2.amazonaws.com/games-vault-cover-tiny.png
"/>
<section id ="home">
  <div class="overlay">
    <nav id="navbar" class="nav">
        <ul class="nav-list">
         <li><%= link_to 'Home', games_path %></li>
         <li><%= link_to "List Game", new_game_path %></li>
         <li><%= link_to 'Shopping Cart', cart_path(@current_cart) %></li>
         <li style="float:right"><%= form_tag games_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search" %>
          <%end%></li>
        </ul>
    </nav>

  <br>

<div class="devise" id="devise">
  <% if user_signed_in? %>
          <li>Welcome <%= current_user.email %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %></li>
  <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li><a> Or </a> 
          <li><%= link_to 'Account Login', new_user_session_path %></li>
  <% end %>
</div>
  
<br>

<h1 class="shopping-cart">Shopping Cart</h1>

<ul class="cart-items" id="class-items">
  <% @cart.line_items.each do |line_item| %>
    <ul>
    <li>Item: <%= line_item.game.title %></li>
    <li>Price: <%= number_to_currency(line_item.game.price) %></li> 
    <li>Quantity: <%= line_item.quantity %></li> 
    <li>Total Price: <%= number_to_currency(line_item.total_price) %></li>
    </ul>

    <ul>
      <li>
        <%= link_to "Remove item", line_item_path(line_item), method: :delete %>
      </li>
    </ul>
    
  <% end %>
</ul>
<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>

</div class="cart-links" id="cart-links">
<%= button_to "Proceed to checkout", new_order_path, method: :get %><br>

<%= button_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}%>
</div>